.form {
    display: flex;
    flex-direction: column;
}

.input {
    height: 89px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    resize: none;
}

.input[aria-invalid] {
    border-color: red;
}

.panel__wrap {
    display: flex;
    justify-content: flex-end;
    background-color: var(--greyEC);
    margin-bottom: 35px;
}

.button__wrap {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 220px;
    height: 50px;
    margin-left: 100px;
    background: #CC6633;
    border-radius: 0px 0px 3px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}